@font-face {
    font-family: SofiaPro;
    src: url("../fonts/Sofia-Pro-Regular.otf") format("opentype");
}
@font-face {
    font-family: LuckiestGuy;
    src: url("../fonts/LuckiestGuy-Regular.ttf");
}
@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
}
html {
    scroll-behavior: smooth;
    font-family: 'SofiaPro';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
    font-family: 'SofiaPro';
}
p {
    font-size: 18px;
}
body .main {
}
a, a:hover {
    color: #ffffff;
    text-decoration: none;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #fbb644;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    font-size: 35px;
}

#myBtn:hover {
    background-color: #bc7c11;
}
.primary-color {
    color: #00bec9;
}
.header-blue {
    color: #009cb4 !important;
}
.grey-color {
    color: #6e6e6e;
}
.font-small {
    font-size: 11px;
}
.rounded-20 {
    border-radius: 20px;
}
.logo {
    max-width: 100%;
}
.header {
    color: #ffffff;
}
.header nav, .banner {
    background: #009cb4;
}
.banner-top {
    position: relative;
}
.banner-img {
    position: absolute;
    right: 0;
}
.btn {
    color: #ffffff;
    border: 1px solid #fbb644;
    border-radius: 20px;
    font-weight: bold;
    background-color: #fbb644;
}
.btn:hover {
    color: #ffffff !important;
    border: 1px solid #fbb644;
    border-radius: 20px;
    background-color: #bc7c11;
}
.bg-blue {
    background-color: #009cb4;
}
.btn-login, .btn-signup {
    width: 130px;
    margin-right: 20px;
    background-color: #fbb644;
}
.btn-login:hover, .btn-signup:hover {
    background-color: #bc7c11;
}
.count-down {
    text-align: center;
    margin-top: 100px;
}
.count-down .number-box {
    width: 50px;
    height: 50px;
    background-color: #ca8b20;
    border: 1px solid #fbb644;
    border-top: 4px solid #a9590a;
    border-radius: 10px;
    padding-top: 9px;
    font-weight: bold;
}
.count-down .count-down-unit {
    width: 50px;
    height: 50px;
    background-color: #ca8b20;
    border: 1px solid #fbb644;
    border-top: 4px solid #a9590a;
    border-radius: 8px;
    padding-top: 9px;
}
.hai-cham {
    height: 50px;
    padding-top: 9px;
    font-weight: bold;
}
.predict-score, .winner-list {
    color: #6e6e6e;
}
.predict-score .score-title, .winner-list .winner-list-title {
    text-align: center;
}
.predict-score .score-title h2 {
    color: #009cb4;
}
.p-center {
    margin: 0 auto;
}
.predict-score .score-table{
    margin-top: 20px;
}
.predict-score .score-table .box-header > h2 {
    color: #2a4982;
}
.predict-score .score-title .btn, .winner-list .winner-list-title .btn {
    width: 200px;
}
.predict-score .predict-score-match {
    width: 60%;
    margin: 0 auto;
    box-shadow: 0px 0px 15px #bfbfbf;
}
.predict-score .predict-score-match .match-box{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    background-image: url(../images/match_bg.png);
    color: #ffffff;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.predict-score .predict-score-match .match-box h2 {
    width: 100%;
    align-self: center;
    text-align: center;
}
.predict-score .predict-score-match .match-box .match-box-content {
    width: 100%;
}
.predict-score .predict-score-match .match-box .match-box-content .match-box-items {
    display: flex;
    justify-content: center;
}
.predict-score .predict-score-match .match-box .match-box-content .match-box-items .match-box-item {
    margin: 0 20px;
    text-align: center;
}
.predict-score .predict-score-match .match-box .match-box-content .match-box-items .vs {
    align-self: flex-end;
}
.predict-score .predict-score-match .match-box .match-box-content .match-box-items .match-box-item img {
    width: 97px;
    height: 97px;
    border-radius: 100%;
}

/*Match*/
.match-group {
    margin: 20px 0px;
}
.match-group .group {
    background-image: linear-gradient(white, white), linear-gradient(to right, #4d285a, #d89827);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: 4px solid transparent;
    border-radius: 15px;
    border-top: none;
    border-left: none;
    border-right: none;

}
.match-group .group::before, .match-group .group::after {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 11px);
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -22px;
}
.match-group .group::before {
    border-color: #8e5c49 transparent transparent transparent;
    border-width: 20px;
    left: calc(50% - 20px);
    bottom: -34px;
}
.match-group .group::after {
    border-color: #3db9c7 transparent transparent transparent;
    border-width: 13px;
    left: calc(50% - 13px);
    bottom: -21px;
}
.match-group .group .group-border-bottom{
    position: absolute;
    width: calc(100% + 4px);
    bottom: -16px;
    left: -2px;
}
.match-group .group .group-title {
    background-color: #2c849c;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 4px solid #69dbad;
    border-bottom: none;
}
.match-group .group .group-title h4 {
    margin-bottom: 0px;
}
.match-group .group .group-items {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 4px solid #69dbad;
    border-bottom: none;
    border-radius: 4px;
    border-top: none;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: #3db8c8;
}
.match-group .group .item {
    padding-top: 5px;
    padding-bottom: 5px;
}
.match-group .group .item:last-child {
    margin-bottom: 0px !important;
}
.match-group .group .item img {
    width: 100%;
    height: 100%;
    padding: 0px;
    max-width: 45px;
}
.match-group .group .item .country {
    border-bottom: 2px solid #69dbad;
    padding: 10px;
}
.match-group .group .item:last-child .country {
    border-bottom: none;
}

/* Promotion */
.promotion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.promotion .promotion-thumb{
    width: 100% !important;
}
.promotion .promotion-content {
    padding: 10px;
}
.promotion .promotion-content .promotion-header {
    color: #009cb4;
}
.promotion .promotion-content p {
    color: #717070;
}
.promotion .promotion-content .btn{
    width: 200px;
}

/* contact-us */
.contact-us {
    position: relative;
    overflow: hidden;
}
.contact-us .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contact-us .cover-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #faa61abd;
}
.contact-us .contact-us-header{
    text-align: center;
    padding: 50px 0px;
}
.contact-us .contact-us-header p{
    margin: 0 auto;
}
.contact-us .contact-us-social{
    padding: 50px 0;
}
.contact-us-bottom {
    position: absolute;
    width: 100%;
    bottom: 0px;
}
/*Recent post*/
.post {
    background-color: #f2f2f2;
}
.post .items {
    text-align: left;
}
.post .items .post-title{
    color: #000000 !important;
}
.post .items .read-more{
    color: #00bec9;
}
.post .items .item {
    padding: 25px;
    border: 2px solid #d6d6d6;
    margin: 0px 20px;
    cursor: pointer;
}
.post .items .item:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #bfbfbf;
}

/*Footer*/
footer {
    background-image: url('../images/footer-bg.png');
    background-color: #009cb4;
    min-height: 500px;
    background-position: left bottom;
    background-repeat: no-repeat;
    position: relative;
}
footer form .contact-mail {
    border-radius: 0px;
    border-top: none;
    height: 50px;
}
footer form .btn, footer form .btn:hover {
    border-radius: 0px;
    width: 50px;
}
.ft-social {
    text-align: right;
}
.ft-ico {
    width: 30px;
    margin: 0px 5px;
}
.copyright {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    left: calc(50% - 150px);
}

/*Modal*/
.modal .close {
    color: #fff;
    background: #faa61a;
    opacity: 1;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}
.modal {
    color: #6e6e6e;
}
.bg-none {
    background: none;
}
.modal .btn {
     border-radius: 5px;
     color: #000000;
 }
.modal .center-block {
    margin:0 auto;
}
#loginModal .fa {
    color: #6e6e6e;
}
#loginModal .forgot-password {
    color: #6e6e6e;
    position: absolute;
    left: 10px;
    text-decoration: underline;
}
#prizesModal .modal-content {
    background: none;
    border: none;
    padding-top: 20px;
}
#prizesModal .modal-content .close {
    top: 20px;
}
#prizesModal .thumbnail {
    border: 1px solid #fbb644;
    border-radius: 50px;
}
#prizesModal .prizes-modal-wrapper {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20px;
}
#prizesModal .prizes-modal-title {
    font-family: 'LuckiestGuy';
    -webkit-text-stroke: 3px #fff;
    -webkit-text-fill-color: #e39404;
    font-size: 60px;
    padding-top: 20px;
}
#prizesModal .term {
    font-family: 'Montserrat';
    background-color: #047688;
    color: #ffffff;
    font-weight: bolder;
    padding: 5px 20px;
    border-radius: 20px;
}
#prizesModal .gif-thumb {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 4px solid #ffffff;
    border-radius: 100px;
    background: #e5ae4d;
}
#prizesModal .gif-thumb img {
    height: calc(100% - 30px);
    margin-top: 15px;
}
#prizesModal .gif-name {
    ont-weight: bold;
    text-shadow: 2px 2px #35929b;
    font-size: 20px;
}
#prizesModal .modal-dialog{
    width: fit-content;
    margin: 0 auto;
}
#prizesModal .thumbnail{
    width: 500px;
    object-fit: contain;
    max-width: 100%;
}
/*Media screen*/
@media (min-width:1200px) {
}
@media (min-width:992px) {
}
@media (max-width:991px) {
    #prizesModal .gif-thumb {
        width: 100px;
        height: 100px;
        display: flex;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width:768px) {
}
@media (min-width:576px) {
}
@media (max-width:576px) {
    .banner {
        text-align: center;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .banner-img {
        display: none;
    }
    .count-down {
        margin-top: 50px;
    }
    .promotion-thumb {
        display: none;
    }
    .contact-us .contact-us-header {
        padding: 10px 0px;
    }
    .contact-us .contact-us-social {
        padding: 10px 0px;
    }
    .contact-us-social .ct-icons img {
        width: 50px;
    }
    .post {
        padding-top: 20px !important;
    }
    .post .items {
        margin-top: 10px !important;
    }
    .predict-score {
        padding-bottom: 0px !important;
    }
    .predict-score .predict-score-match {
        width: 100%;
    }
}
@media (max-width:455px) {
    #prizesModal .prizes-modal-title {
        font-size: 47px;
        -webkit-text-stroke: 2px #fff;
    }
    #prizesModal .gif-box {
        margin-top: 20px !important;
    }
    #prizesModal .gif-thumb {
        width: 80px;
        height: 80px;
    }
}
